# Ignore node_modules
node_modules/

# Ignore .env files (if any)
.env

# Ignore build or dist folders (if any)
build/
dist/

# Ignore large files like models
results
GUI 2/node_modules/electron/dist/electron.exe
key.json
.boto
