<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div id="header"></div>

<p id="selectedModelDisplay"></p>

<div id="chat">
    <div class="container">
        <div id="chatbox">
            <div id="messages">
            </div>
            <div id="user">
                <input type="text" id="user-input" placeholder="Type your message here...">
                <button onclick="sendMessage()">Send</button>
                <button onclick="startRecording()">Record</button>
            </div>
        </div>
    </div>
</div>
</body>

<div id="footer"></div>

<script src="{{ url_for('static', filename='JS/loadTemplates.js') }}" defer></script>
<script src="{{ url_for('static', filename='JS/chatBot.js') }}" defer></script>
</html>
