<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<div id="header"></div>

<body>
    <main>
        <h1>Building a Conversational AI Medium to Enhance Psychotherapy Training with Virtual Patients</h1> 
            <div class="spinningTray">
                <button id="prevBtn" class="arrow">←</button>
                    <div class="item-display">
                        <h1 id="itemTitle"></h2>
                        <h2 id="itemDescription"></h2>
                        <textarea id="custom-description" class="custom-input" placeholder="Enter Description!"></textarea>

                        <p id="itemMentalIllness"></p>
                        <textarea id="custom-mentalIllness" class="custom-input" placeholder="Enter Mental Illness!"></textarea>

                        <p id="itemAge"></p>

                        <div id="modelSelector">
                            <h1>Choose an ML Model:</h1>
                            <button class="modelButton" data-model="GPT">GPT-4o</button>
                            <button class="modelButton" data-model="GPT-Mini">GPT-4o-mini</button>
                            <!--
                            <button class="modelButton" data-model="Gemini">Gemini</button>
                            //-->
                        </div>
                        <label id="tunedCheckBoxText">
                            <input type="checkbox" id="tunedCheckbox" class="tunedCheckbox" name="tuned" value="true">
                            Tuned?
                        </label>
                        <p> *GPT-4o Model recommended for Professional Testing</p>
                        <p> *Further, please attempt both trained and untrained if possible, and compare their abilities.</p>
                        <button id="submitBtn" class="submit">Submit</button>

                        <input type="hidden" id="selectedItem" name="selectedItem" value="N/A">
                        <input type="hidden" id="selectedModel" name="selectedModel" value="N/A">
                    </div>
                <button id="nextBtn" class="arrow">→</button>
                
            </div>
    </main>
</body>

<div id="footer"></div>

<script src="{{ url_for('static', filename='JS/loadTemplates.js') }}" defer></script>
<script src="{{ url_for('static', filename='JS/spinningTray.js') }}" defer></script>
</html>
