<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<div id="header"></div>

<body>
    <main>
        <h1>Building a Conversational AI Medium to Enhance Psychotherapy Training with Virtual Patients</h1> 
            <div class="spinningTray">
                <button id="prevBtn" class="arrow">←</button>
                    <div class="item-display">
                        <h1 id="itemTitle">N/A</h2>
                        <h2 id="itemDescription">N/A</h2>
                        <p id="itemMentalIllness">Mental Illness: Filler</p>
                        <p id="itemAge">Age: Filler</p>
                        <div id="modelSelector">
                            <h1>Choose an ML Model:</h1>
                            <button class="modelButton" data-model="GPT">GPT-4o</button>
                            <button class="modelButton" data-model="GPT-Mini">GPT-4o-mini</button>
                            <button class="modelButton" data-model="Gemini">Gemini</button>
                        </div>
                        <div id="submitContainer">
                            <button id="submitBtn" class="submit">Submit</button>
                        </div>
                        <input type="hidden" id="selectedItem" name="selectedItem" value="N/A">
                        <input type="hidden" id="selectedModel" name="selectedModel" value="N/A">
                    </div>
                <button id="nextBtn" class="arrow">→</button>
                
            </div>
    </main>
</body>

<div id="footer"></div>

<script src="{{ url_for('static', filename='JS/loadTemplates.js') }}" defer></script>
<script src="{{ url_for('static', filename='JS/spinningTray.js') }}" defer></script>
</html>
